<h1 class="display-4">About Chelsea Owusu-Bonsu</h1>

Hi! I am Chelsea Owusu-Bonsu. I am a fourth year student at The university of Cincinnati. I am fun, outgoing
and probably one of the best dancers you will ever meet. Now, let's talk movie. I love watching movies. It could be anything honestly.
They are so entertaining. Some of my favourite genres in movies would be romance, comedy and horror. I love a good horror movie. I like the thril it gives. 
Sometimes movies can be a little cringe but I love them anyway!