
<!DOCTYPE html>
<html>
<head>
    <title>Personal Information</title>
</head>
<body>
    <h2>About Me</h2>
    <p>
        Hello, I am Cole Pownell, I am a 4th year IT software development major at UC. I have always loved going to the movies ever since I watched the Movie Pacific Rim when I was young. The crazy CG and everything just blew my mind and made me watch a ton more movies that I thought were all great. I had a great time even with movies that young me had no idea people though were bad. This is why we made this page to show out appreciation for film.
    </p>
    
   </body>
</html>

