@model List<Director>

<h1 class="display-4">Our Favorite Directors</h1>

<div class="col-sm-10">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>First Movie</th>
        </thead>
        <tbody>
            @foreach (var director in Model)
                {
            <tr>
                <td>@director.Name</td>
                <td>@director.DirectorId</td>
                <td>@director.FirstMovie</td>
            </tr>
                }
        </tbody>
    </table>
</div>